.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  &__main-info {
    display: flex;
    align-items: center;
  }

  &__image {
    margin-right: 30px;
    width: 50px;
    height: 50px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 21px;
    margin: 0;
    margin-bottom: 10px;
  }

  &__size {
    font-size: 14px;
    color: #455a64;
  }

  &__controls {
    margin-right: 25px;
    display: flex;
    align-items: center;
  }

  &__change-quantity {
    cursor: pointer;
    font-size: 18px;
    padding: 3px 12px;
    color: #e64a19;
    outline: none;
    background-color: #fff;
    border: 1px solid #e64a19;
    border-radius: 5px;

    &:hover {
      background-color: #fbe9e7;
    }
  }

  &__quantity {
    font-size: 18px;
    font-weight: 700;
    padding: 0 14px;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 600;
    padding-right: 10px;
    
    
    &-dollars {
      font-size: 22px;
    }
    &-euro {
      font-size: 16px;
      color: #455a64;
    }
  }

  &__delete {
    margin-right: -70px !important;
    margin-left: 10px !important;

    svg {
      width: 32px;
      height: 32px;
    }
  }
}

@media only screen and (max-width: 812px) {
  .cart-item {
    max-width: 500px;
    margin-bottom: 35px;

    &__main-info {
      flex-direction: column;
    }

    &__image {
      margin-right: 0;
      width: 35px;
      height: 35px;
    }

    &__description {
      align-items: center;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 5px;
    }

    &__size {
      font-size: 11px;
    }

    &__controls {
      margin-right: 10px;
    }

    &__change-quantity {
      font-size: 16px;
      padding: 2px 8px;
    }

    &__quantity {
      font-size: 16px;
      padding: 0 8px;
    }

    &__price {
      padding-right: 5px;
      
      &-dollars {
        font-size: 16px;
      }
      &-euro {
        font-size: 11px;
      }
    }

    &__delete {
      margin-right: 0 !important;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}